@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome To Movie4Share!</h1>
    <hr />
    <p> Here, we upload and share feedbacks on movies. Enjoy your journey</p>
</div>
